name: Dependency Diff

on:
  pull_request:

jobs:
  diff_dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create Diff
        uses: e18e/action-dependency-diff@v1
        with:
          # Set to high value to avoid duplicate package reports
          duplicate-threshold: 99999
